body{
    background-color: #0f172a;
    color:white;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Ubuntu, "Helvetica Neue", Arial, "Noto Sans", "Apple Color Emoji", "Segoe UI Emoji";
    margin-right: 4%;
    margin-left: 4%;
}
.navBar,.hero{
    display: flex;
    justify-content: space-between;
    padding:10px;

}

a{
    color:white;
    padding: 10px;    
}
a:hover{
    border:1px solid white;
    border-radius: 10%;
    background-color: rgb(236, 229, 229);
    color:black;
}
.btn{
     padding: 10px;
    /* border:1px solid white; */
    border-radius: 1.2rem;
    width:fit-content;
    background-color: #3b82f6;
}
.dot{
    width:10px;
    display: inline-block;
    height: 10px;
    border-radius: 50%;
    margin:0 5px 0 0 ;
    background-color: #22d3ea;
}
hr{
    color:rgba(236, 222, 222, 0.678);
}

.hero{
    gap:10%;
}

h1{
    font-size:68px;
}
.heroPara{
    margin-bottom: 5%;
}
.btnSection{
    display: flex;
    justify-content: start;
    gap: 5%;
    margin-bottom: 4%;
}
.infoSection{
    display: flex;
    gap:4%;
}
.backClass{
    background: none;
    border: 3px solid white;
    border-radius: 1.2rem;
}
.imageHero{
    margin-top: 5%;
}
.title,.card{
    display: flex;
    justify-content: space-between;
    gap:2%;
    margin: 0 5px 0 5px;
}
.rightTitle{
    margin-top: 1.5%;
}
.cardSection{
    border:2px solid rgba(148, 163, 184, .16);
    padding: 5px;
    border-radius: 1.2rem;
    margin-bottom: 2%;
}
.showCaseSubItems{
    display: flex;
    justify-content: space-between;
    gap:5%;
}
.showCaseSubSection{
    border:1px solid grey;
    padding:50px;
    
}
.features{
    margin-bottom: 8%;
    padding:10px;
}
.paddItem{
    padding: 10px;
}
.pricing{
    margin-top: 13px;
    margin-bottom: 13px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    gap:5%;
    border-radius: 1.2rem;
    border: 1px solid rgba(148, 163, 184, .16);
    background: rgba(255, 255, 255, .03);
}
.borderStyle{
    border-radius: 1.2rem;
    border: 1px solid rgba(148, 163, 184, .16);
    background: rgba(255, 255, 255, .03);
    padding: 15px;
}
.marItem{
    margin-bottom: 10px;
}
.footer{
    display: flex;
    justify-content: space-between;   
    margin-top: 5%;
}
.footerSpan{
    padding-right: 10px;
}
.footerSpan:hover{
    color: gray;
}
.EachSectionGap{
     margin-bottom: 8%;
}
img{
    border-radius: 1.2rem;
}